<h1>Listing bookmarks</h1>

<% if current_user.admin? %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.user.name, user_path(bookmark.user) %></td>
        <td><%= link_to bookmark.content.description, content_path(bookmark.content) %></td>
        <td><%= link_to 'Show', bookmark %></td>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
        <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2><%= link_to 'New Bookmark', new_bookmark_path %></h2>
<% else %>
<table>
  <thead>
  <tr>
    <th>Content</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% current_user.bookmarked.each do |bookmark| %>
      <tr>
        <td><%= bookmark.content.description %></td>
        <td><%= link_to 'Show', bookmark %></td>
        <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<% end %>