<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @visual.type %>
</p>

<% if @type == "Video" %>
<p>
  <strong>Youtube_id:</strong>
  <%= @visual.youtube_id %>
</p>
<% elsif @type == "Image" %>
<p>
    <strong>Image:</strong>
    <%= image_tag @visual.image.url %>
</p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @visual.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @visual.user.name %>
</p>

<%= link_to 'Edit', sti_visual_path(@type, @visual, :edit) %> |
<%= link_to 'Back', sti_visual_path(@type) %>
