<%= form_for(@content) do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
     <%= f.label :url %><br>
     <%= f.text_field :url %>
   </div>
    <div class="field">
      <%= f.label :type %><br>
      <%= f.select :type, Content.types.map {|r| [r.humanize, r.camelcase]}, {}, disabled: @type != "Content" %>
      <% if @type != "Content" %>
          <%= f.hidden_field :type, value: @type %>
      <% end %>
    </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.collection_select(:user_id, User.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>