<h1>Listing
  <% if @type != "Content" %>
      <%=  "#{@type.pluralize}" %>
      <%= link_to '(List  all content)', sti_content_path %>
  <% else %>
      <%=  "#{@type}" %>
  <% end %>
</h1>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Creator Name</th>
      <th>Organization</th>
      <th>Visual Type</th>
      <th>Time</th>
      <th>Begin Date</th>
      <th>End Date</th>
      <th>Local</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.name %></td>
        <td><%= content.description %></td>
        <td><%= content.type %></td>
        <td><%= content.user.name %></td>
        <td><%= content.organization %></td>
        <td><%= content.visualType %></td>
        <td><%= content.time.strftime("%H:%M") %></td>
        <td><%= content.beginDate %></td>
        <td><%= content.endDate %></td>
        <td><%= content.local %></td>
        <% if signed_in? && !current_user.bookmarks.find_by_content_id(content.id)  %>
            <td><%= link_to "Bookmark", bookmark_content_path(content, typeAction: "bookmark"), method: :put %></td>
        <% else %>
            <td><%= link_to "Unbookmark", bookmark_content_path(content, typeAction: "unbookmark"), method: :put %></td>
        <% end %>
        <td><%= link_to 'Show', sti_content_path(content.type, content) %></td>
        <% if signed_in? && current_user.admin? %>
            <td><%= link_to 'Edit', sti_content_path(content.type, content, :edit) %></td>
            <td><%= link_to 'Destroy', sti_content_path(content.type, content), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to "See all #{content.type.pluralize}", sti_content_path(content.type) %></td>
      </tr>


    <% end %>
  </tbody>
</table>
<% if signed_in? && current_user.admin? %>
<h2><%= link_to "New #{@type}", sti_content_path(@type, nil, :new) %></h2>
<% end %>
<hr>

<% if @type == "Video" %>
    <h1>Upload de vídeo</h1>
    <%= form_tag('contents/uploadToServer', multipart: true) do %>
        <%= file_field_tag 'video' %>
        <%= submit_tag 'Upload' %>
    <% end %>
    <br>
    <hr>
<% end %>

<% if signed_in? && current_user.admin? %>
    <h1>Definição da playlist</h1>
    <%= select(:content, :content_id, Content.all.map {|p| [p.name, p.id]}, {}, { class: "multiselect", :multiple => "multiple", :style => "width:300px"}) %>
    <%= button_tag 'Set playlist', {class: "button"} %>
<% end %>
