<h1>Listing
  <% if @type != "Content" %>
      <%=  "#{@type.pluralize}" %>
  <% else %>
      <%=  "#{@type}" %>
  <% end %>
</h1>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>URL</th>
      <th>Type</th>
      <th>Uploader</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.description %></td>
        <td><%= content.url %></td>
        <td><%= content.type %></td>
        <td><%= content.user.name %></td>
        <% if !current_user.bookmarks.find_by_content_id(content.id)  %>
            <td><%= link_to "Bookmark", bookmark_content_path(content, typeAction: "bookmark"), method: :put %></td>
        <% else %>
            <td><%= link_to "Unbookmark", bookmark_content_path(content, typeAction: "unbookmark"), method: :put %></td>
        <% end %>
        <td><%= link_to 'Show', sti_content_path(content.type, content) %></td>
        <td><%= link_to 'Edit', sti_content_path(content.type, content, :edit) %></td>
        <td><%= link_to 'Destroy', sti_content_path(content.type, content), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "See all #{content.type.pluralize}", sti_content_path(content.type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%#= collection_select :content, :content_id, Video.all, :id, :full_name, {multiple: "multiple"}, {class: "multiselect"} %>

    <%= select(:content, :content_id, Video.all.map {|p| [p.full_name, p.url]}, {}, { class: "multiselect", :multiple => "multiple", :style => "width:300px"}) %>
    <%= button_tag 'Set playlist', {class: "button"} %>


<%= link_to "New #{@type}", sti_content_path(@type, nil, :new) %>
<%= link_to 'See all content', sti_content_path %>
