<h1>Listing <%= "#{@type.pluralize}" %></h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>URL</th>
      <th>Type</th>
      <th>Uploader</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.description %></td>
        <td><%= content.url %></td>
        <td><%= content.type %></td>
        <td><%= content.user.name %></td>
        <td><%= link_to 'Show', sti_content_path(content.type, content) %></td>
        <td><%= link_to 'Edit', sti_content_path(content.type, content, :edit) %></td>
        <td><%= link_to 'Destroy', sti_content_path(content.type, content), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "See all #{content.type.pluralize}", sti_content_path(content.type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New #{@type}", sti_content_path(@type, nil, :new) %>
<%= link_to 'See all content', sti_content_path %>
