<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @content.description %>
</p>

<p>
  <strong>URL:</strong>
  <%= @content.url %>
</p>

<p>
  <strong>Type:</strong>
  <%= @content.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @content.user.name %>
</p>

<iframe width="420" height="345" src="<%= "http://www.youtube.com/embed/"+@content.url %>" frameborder="0"></iframe>
<br>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
