<h1>Listing visual_utilizations</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Visual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visual_utilizations.each do |visual_utilization| %>
      <tr>
        <td><%= visual_utilization.content_id %></td>
        <td><%= visual_utilization.visual_id %></td>
        <td><%= link_to 'Show', visual_utilization %></td>
        <td><%= link_to 'Edit', edit_visual_utilization_path(visual_utilization) %></td>
        <td><%= link_to 'Destroy', visual_utilization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visual utilization', new_visual_utilization_path %>
