<div id="content" class="box">

  <p id="notice"><%= notice %></p>

    <div class="box">


      <div id="topstory">

        <div id="topstory-title">
          <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>
          <p class="date">
            Monday, 01.01.08 &nbsp;&ndash;&nbsp;
            Category: <a href="#">Lorem ipsum</a> &nbsp;&ndash;&nbsp;
            <a href="#">18 comments</a>
          </p>
        </div>

        <div id="topstory-perex">
          <p class="bb box"><%= image_tag('image-03.gif', :alt=>'', :width=>200, :height=>150, class:'f-left') %>
            dddddddddddddddddddddddddddddd
            <%= form_tag('contents/uploadToServer', multipart: true) do %>
                <%= file_field_tag 'video' %>
                <%= submit_tag 'upload' %>
            <% end %>
          </p>
        </div>

      </div>

      <div id="aside">
        <h4 class="hx-style01"><span>Artigos anteriores</span></h4>
        <ul class="ul-list box">
          <li><a href="#">Lorem ipsum dolor sit amet</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">15 comments</a>)</span></li>
          <li><a href="#">Consectetuer adipiscing elit</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">17 comments</a>)</span></li>
          <li><a href="#">Maecenas accumsan</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">3 comments</a>)</span></li>
          <li><a href="#">Pellentesque mattis nib lorem</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">0 comments</a>)</span></li>
        </ul>
        <p class="t-center nom"><a href="#" class="ico-more">Mais artigos</a></p>
      </div>

    </div>

    <h4 class="hx-style01"><span>Vídeos</span></h4>

    <div id="photos" class="box">

      <%= image_tag('image-02.gif', :alt=>'', class:'nom') %>
      <%= image_tag('image-02.gif') %>
      <%= image_tag('image-02.gif') %>
      <%= image_tag('image-02.gif') %>
      <%= image_tag('image-02.gif') %>
      <%= image_tag('image-02.gif') %>

    </div>

    <p class="t-center"><a href="#" class="ico-more">Mais vídeos (152)</a></p>

    <h4 class="hx-style01"><span>Bla bla bla</span></h4>

    <div class="box">

      <div class="col30">
        <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
        <p class="date">
          Monday, 01. 01. 08 &nbsp;&ndash;&nbsp;
          <a href="#">Lorem ipsum</a> &nbsp;&ndash;&nbsp;
          <a href="#">18 comments</a>
        </p>
        <p class="bb box"><%= image_tag('image-03.gif', :alt=>'', :width=>100, :height=>75, class:'f-left') %>
          Lorem ipsum dolor consectetuer adipiscing elit. Mauris estemesti porttitor odio quis diam.
          Integere vulputate. Asecum sociamet.</p>
        <ul class="ul-list box">
          <li><a href="#">Lorem ipsum dolor sit amet</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">29 comments</a>)</span></li>
          <li><a href="#">Consectetuer adipiscing elit</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">75 comments</a>)</span></li>
          <li><a href="#">Maecenas accumsan</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">6 comments</a>)</span></li>
          <li><a href="#">Pellentesque mattis nib lorem</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">11 comments</a>)</span></li>
        </ul>
        <p class="t-center"><a href="#" class="ico-more">More older articles</a></p>
      </div>

      <div class="col30 margin">
        <h4><a href="#">Consectetuer adipiscing elit</a></h4>
        <p class="date">
          Monday, 01. 01. 08 &nbsp;&ndash;&nbsp;
          <a href="#">Lorem ipsum</a> &nbsp;&ndash;&nbsp;
          <a href="#">22 comments</a>
        </p>
        <p class="bb box"><%= image_tag('image-03.gif', :alt=>'', :width=>100, :height=>75, class:'f-left') %>
          Lorem ipsum dolor consectetuer adipiscing elit. Mauris estemesti porttitor odio quis diam.
          Integere vulputate. Asecum sociamet.</p>
        <ul class="ul-list box">
          <li><a href="#">Lorem ipsum dolor sit amet</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">10 comments</a>)</span></li>
          <li><a href="#">Consectetuer adipiscing elit</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">11 comments</a>)</span></li>
          <li><a href="#">Maecenas accumsan</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">3 comments</a>)</span></li>
          <li><a href="#">Pellentesque mattis nib lorem</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">45 comments</a>)</span></li>
        </ul>
        <p class="t-center"><a href="#" class="ico-more">More older articles</a></p>
      </div>

      <div class="col30 fix">
        <h4><a href="#">Pellentesque mattis nib lorem</a></h4>
        <p class="date">
          Monday, 01. 01. 08 &nbsp;&ndash;&nbsp;
          <a href="#">Lorem ipsum</a> &nbsp;&ndash;&nbsp;
          <a href="#">19 comments</a>
        </p>
        <p class="bb box"><%= image_tag('image-03.gif', :alt=>'', :width=>100, :height=>75, class:'f-left') %>
          Lorem ipsum dolor consectetuer adipiscing elit. Mauris estemesti porttitor odio quis diam.
          Integere vulputate. Asecum sociamet.</p>
        <ul class="ul-list box">
          <li><a href="#">Lorem ipsum dolor sit amet</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">19 comments</a>)</span></li>
          <li><a href="#">Consectetuer adipiscing elit</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">33 comments</a>)</span></li>
          <li><a href="#">Maecenas accumsan</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">21 comments</a>)</span></li>
          <li><a href="#">Pellentesque mattis nib lorem</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">18 comments</a>)</span></li>
        </ul>
        <p class="t-center"><a href="#" class="ico-more">More older articles</a></p>
      </div>

    </div>

</div>